<div class="container-fluid containerClass">
    <nav class="fixedNav">
        <ul class="navListing">
            <li class="navItem" routerLinkActive="navItemActive"><a routerLink="home" class="navLink">Home</a></li>
            <li class="navItem" routerLinkActive="navItemActive"><a routerLink="userdetails" class="navLink">User Details</a></li>
            <li class="navItem" routerLinkActive="navItemActive"><a routerLink="login" class="navLink">Login</a></li>
        </ul>
    </nav>
    <div class="spaceElem"> </div>
    <router-outlet></router-outlet>
    <!-- <app-login-comp></app-login-comp>
    <app-product-cart></app-product-cart>
    <app-product-list></app-product-list> -->
</div>